In [2]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome()

In [37]:
BASE_URL = "https://www.etmoney.com/stocks/list-of-stocks"

driver.get(BASE_URL)

In [38]:
from selenium.webdriver.common.by import By

can_load_more = True

while can_load_more:
    try:
        driver.find_element(By.CLASS_NAME, "load-more").click()
    except:
        can_load_more = False

In [39]:
rows = driver.find_elements(By.CSS_SELECTOR, ".table-striped > tbody > tr")

In [40]:
extracts = {"symbol": [], "industry": []}
for row in rows:
    extracts["symbol"].append(row.find_element(By.CSS_SELECTOR, "strong.fund-category").text)
    extracts["industry"].append(row.find_elements(By.CSS_SELECTOR, "span.align-td")[-1].text)

In [41]:
import pandas as pd

extracts = pd.DataFrame(extracts)
extracts

         symbol                  industry
0     20MICRONS           Mining/Minerals
1        360ONE     Finance & Investments
2       3MINDIA               Diversified
3        3PLAND     Finance & Investments
4     3IINFOLTD  IT Consulting & Software
...         ...                       ...
2021  ZYDUSLIFE           Pharmaceuticals
2022  ZYDUSWELL           Pharmaceuticals
2023     ECLERX       IT Enabled Services
2024    EMUDHRA       IT Enabled Services
2025  IDEAFORGE       Aerospace & Defense

[2026 rows x 2 columns]

In [42]:
extracts.to_csv("industry-data.csv")

In [45]:
print(f"{extracts['industry'].nunique()} unique industries found!")

184 unique industries found!

In [1]:
import pandas as pd

inds=pd.read_csv("stocks-with-industry.csv")

/var/folders/yp/xb6n276n70d6fknkfdpwl0mm0000gn/T/ipykernel_41077/128720189.py:3: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  inds=pd.read_csv("stocks-with-industry.csv")

In [16]:
inds.drop(columns=["Unnamed: 0", "Unnamed: 0.1"]).dropna().set_index("Date").to_csv("stocks-with-industry.csv")